body{
    background-size: cover;
    background: url(../../images/White-Background-9B1%20обр.jpg) no-repeat;
}

.header {
    display:block;
    margin:0 auto;
}

.mainText {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: large;
}

button {
    width: 200px;
    display: inline-block;
    text-align: center;
    margin: 50px auto;
}
