
.header {
    display:block;
    margin:0 auto;
}

.search_block p {
    text-align: center;
    font-size: 30px;
}

.search_block {
    margin-top: 18%;
}

.navbar {
    margin-top: 30px;
    text-align: center;
}

body {
    background-size: cover;
    background: url(../../resources/images/White-Background-9B1%20обр.jpg) no-repeat;
}