<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">



<hibernate-configuration>

    <session-factory>
        <!-- Enable this to see the SQL statements in the logs-->
        <property name="show_sql">true</property>
        <!-- This will drop our existing database and re-create a new one.
          Existing data will be deleted! -->
        <property name="hbm2ddl.auto">create</property>

    </session-factory>
</hibernate-configuration>